
/*实体店css*/
div.top{
    height: 300px;
    background: rgb(246, 246, 246);
}

div.top div.avatar{
    padding: 50px 0 0 0;
    width: 1200px;
    margin: auto;
    position: relative;
    height: 30px;
}

div.top div.avatar img{
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    height: 150px;
    background: #FFF;
    border: 1px rgb(246, 246, 246) solid;
    padding: 3px;
    box-shadow: 1px 1px 1px #CCC;
}

div.top div.avatar h1{
    /*font-family: "\5fae\8f6f\96c5\9ed1", "\534e\6587\7ec6\9ed1";*/
    padding-left: 170px;
    font-size: 24px;
    color: #ef4300;
    text-shadow: 1px 1px 1px #CCC;
    font-weight: bolder;
}

div.top div.avatar h1 i{
    font-size: 20px;
    color: #CCC;
    margin-left: 10px;
}

div.top div.avatar h1 i.verified{
    color: #4898F8;
}

div.m{
    background: #333;
}

div.m ul{
    width: 1200px;
    margin: auto;
}

div.m ul a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    float: left;
    padding: 0 20px;
    color: #FFF;
}

div.m ul a:hover{
    color: #FFF;
    background: #000;
}

div.m ul a.on{
    color: #FFF;
    background: #ef4300;
}

div.mian{
    width: 1000px;
    padding: 10px 200px 0 0;
}

div.mian div.left{
    width: 303px;
    float: left;
}

div.mian div.left ul{
    background: rgb(246, 246, 246);
    margin-bottom: 10px;
}

div.mian div.left ul.show{
    padding: 20px 0;
}

div.mian div.left ul.show li{
    float: left;
    width: 100px;
    text-align: center;
}

div.mian div.left ul.show li.border{
    border-right: 1px #FFF solid;
}

div.mian div.left ul.show li em{
    display: block;
    font-style: normal;
    font-size: 18px;
    padding: 0 0 10px 0;
}

div.mian div.left ul.show li span{
    font-weight: bolder;
    display: block;
    font-size: 14px;
    color: #CCC;
}

div.mian div.left ul.store{
    overflow: hidden;
}

div.mian div.left ul.store h1{
    font-weight: bolder;
    font-family: "\5fae\8f6f\96c5\9ed1", "\534e\6587\7ec6\9ed1";
    border-bottom: 1px #CCC solid;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-bottom: 5px;
}

div.mian div.left ul.store li{
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-top: 1px #EBEBEB solid;
}

div.mian div.left ul.store li.first{
    border-top: none;
}

div.mian div.left ul.store li lable{
	display: inline-block;
	min-width: 56px;
	font-size: 14px;
	color: #AAA;
	margin: 0 10px 0 0;
}

div.mian div.zhu{
	padding: 0 0 10px 0;
    width: 687px;
    float: right;
    background: none;
}



/*新闻列表css*/
div.mian div.newList{
    float: right;
    width: 690px;
}

div.mian div.newList ul{
    margin-bottom: 10px;
}

div.mian div.newList ul li{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px #EBEBEB solid;
    overflow: hidden;
}

div.mian div.newList ul li span{
    float: right;
    height: 30px;
    line-height: 30px;
}

div.mian div.news{
    float: left;
    width: 300px;
    height: 200px;
    background: #EBEBEB;
}



/*照片css*/

div.mian div.sort{
    float: left;
    width: 40px;
    height: 500px;
    background: #333;
}

div.mian div.photo{
    float: right;
    width: 954px;
    height: 494px;
    background: #EBEBEB;
    margin-bottom: 10px;
    padding: 3px;
}

div.mian div.photo ul.photo{
    margin-bottom: 30px;
}

div.mian div.photo ul.photo li{
    float: left;
    width: 153px;
    margin: 3px;
}

div.mian div.photo ul.photo li img{
    display: block;
    width: 153px;
    height: 100px;
}

div.mian div.photo ul.photo li span{
    display: block;
    background: #000;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #FFF;
}

/*产品css*/
div.mian div.sortProduct{
    padding: 10px 0 0 0;
    float: left;
    width: 140px;
    height: 630px;
    background: #333;
}

div.mian div.sortProduct a{
    border-left: 5px #333 solid;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #CCC;
}

div.mian div.sortProduct a:hover{
    background: #000;
}

div.mian div.sortProduct a.on:hover, div.mian div.sortProduct a.on{
    color: #333;
    background: #EBEBEB;
}

div.mian div.product{
    float: right;
    width: 850px;
    height: 630px;
    background: #EBEBEB;
    padding: 5px;
    margin-bottom: 10px;
}

div.mian div.product ul{
    margin-bottom: 20px;
}

div.mian div.product ul li{
    float: left;
    width: 202.5px;
    margin: 5px;
}

div.mian div.product ul li a{
    box-shadow: 0 0 1px #CCC;
    display: block;
    border: none;
    text-decoration: none;
    background: #FFF;
}

div.mian div.product ul li a img{
    display: block;
    width: 202.5px;
    height: 202.5px;
}

div.mian div.product ul li a h1{
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
}

div.mian div.product ul li a span{
    padding: 0 10px;
    display: block;
    line-height: 30px;
    color: red;
}

div.mian div.product ul li a:hover h1{
    color: #000;
}

div.mian div.product ul li a:hover span{
    color: red;
}


